{% extends 'base.html' %}
{% load f1_filters %}
{% block title %}
    CSV upload
{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
    <h1>Upload Results</h1>
        {% csrf_token %}
        {% for gp in gps %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="grand_prix" id="{{ gp.name }}" value="{{ gp.name }}">
                <label class="form-check-label" for="{{ gp.name }}">{{ gp }}</label>
            </div>
        {% endfor %}
        <br>
        <br>
        <label class="pt-1">
            CSV: <input name='data' type="file">
        </label>
    <br>
        <button class="btn btn-primary f1-bg--warmRed"><i class="fas fa-upload"></i> Upload</button>
    </form>
{% endblock %}