{% extends 'base.html' %}
{% load f1_filters %}
{% block title %}
    Klassement
{% endblock %}
{% block content %}
    <script>
        const offset = 4;
        const backgrounds = ['#ffda61', '#b7b7b7', '#bb946c'];


        function addHighlights() {
            let tableContent = $('#leaderboardContent');
            let gpsCount = tableContent.children()[0].children.length;
            let playerCount = tableContent.children().length;
            for (let i = offset; i < gpsCount; i++) {
                let elems = [];
                for (let j = 0; j < playerCount; j++) {
                    elems.push(tableContent.children()[j].children[i]);
                }
                elems = elems.sort((x, y) => y.innerHTML - x.innerHTML);
                if (elems[0].innerHTML !== '-') {
                    elems[0].style.background = backgrounds[0];
                }
                let completed = 0;
                let pending = 0;
                let j = 1;
                for (let x = 1; x < playerCount; x++) {
                    if (elems[x].innerHTML === '-') {
                        continue
                    }
                    if (elems[x].innerHTML !== elems[x - 1].innerHTML) {
                        completed = completed + pending + 1;
                    } else {
                        pending++;
                    }
                    if (completed === backgrounds.length) {
                        break;
                    }
                    elems[x].style.background = backgrounds[completed]
                }
            }

        }

        $(document).ready(addHighlights)
    </script>

    <h1>Klassement</h1>
    <div class="row">
        <div class="col-12">
            <table class="table table-fit">
                <thead>
                <tr>
                    <th>Speler</th>
                    <th>Σ</th>
                    <th>μ</th>
                    <th>σ</th>
                    {% for gp in grandprixs %}
                        <th><a href='{% url 'grandprix' gp.id %}'><i class="fa-solid fa-arrow-up-right-from-square"></i></a><br>{{ gp.logo }}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody id="leaderboardContent">
                {% for player in players %}
                    <tr>
                        <th>
                            <a href="{% url 'player' player.id %}">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                            <span style="font-weight: bolder; color: {{ player.colour }}">❚</span>{{ player.name }}
                        </th>
                        <th>{{ player.points }}</th>
                        <td>{{ player.points_mean|floatformat:1 }}</td>
                        <td>{{ player.points_std_dev|floatformat:1 }}</td>
                        {% for gp in grandprixs %}
                            <td>{{ leaderboard|unpack_dict:gp|unpack_dict:player }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h1 class="text-center">Score progressie</h1>
            <canvas id="scoreChart" style="height: 400px"></canvas>
        </div>
    </div>
    <script>
        const labels = [{% for l in chart|unpack_dict:'labels' %} '{{ l }}', {% endfor %}]

        const data = {
            labels: labels,
            datasets: [
                    {% for player in chart|unpack_dict:'scores' %}{
                        label: '{{player.name|shorten}}',
                        backgroundColor: '{{ player.colour }}',
                        borderColor: '{{player.colour }}',
                        data: {{ chart|unpack_dict:'scores'|unpack_dict:player }},
                        },
                    {% endfor %}
            ],
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        const myChart = new Chart(
            $('#scoreChart'),
            config
        );
    </script>

{% endblock %}
